.header{
    padding: 8px 10px;
    background-color: rgba(245, 245, 245, 0.968);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 2rem;
    border-bottom: 0.5px solid #007acc;
}