

.container {
  margin: 2% 5%;
}

.table {
  width: 100%;
//   margin-bottom: 1.5em;
  border-spacing: 0;
  
//   @media (min-width: $bp-bart) {
//     font-size: .9em; 
//   }
  
//   @media (min-width: $bp-marge) {
//     font-size: 1em; 
//   }
  
  thead {
    // Accessibly hide <thead> on narrow viewports
    // position: absolute;
    // clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    // padding: 0;
    // border: 0;
    // height: 1px; 
    // width: 1px; 
    // overflow: hidden;
    
    // @media (min-width: $bp-bart) {
    //   // Unhide <thead> on wide viewports
    //   position: relative;
    //   clip: auto;
    //   height: auto;
    //   width: auto;
    //   overflow: auto;
    // }
    
    th {
      background-color: #007acc;
      border: 1px solid #0b9dff;
      font-weight: normal;
      text-align: center;
      color: white;
      
    //   &:first-of-type {
    //     text-align: left; 
    //   }
    }
  }
  
  // Set these items to display: block for narrow viewports
  tbody,
  tr,
  th,
  td {
    // display: block;
    // padding: 0;
    // text-align: left;
    // white-space: normal;
  }
  
  tr {   
    // @media (min-width: $bp-bart) {
    //   // Undo display: block 
    //   display: table-row; 
    // }
  }
  
  th,
  td {
    // padding: .5em;
    // vertical-align: middle;
    
    // @media (min-width: $bp-lisa) {
    //   padding: .75em .5em; 
    // }
    
    // @media (min-width: $bp-bart) {
    //   // Undo display: block 
    //   display: table-cell;
    //   padding: .5em;
    // }
    
    // @media (min-width: $bp-marge) {
    //   padding: .75em .5em; 
    // }
    
    // @media (min-width: $bp-homer) {
    //   padding: .75em; 
    // }
  }
  
  tfoot {
    font-size: .8em;
    font-style: italic;
    
    // @media (min-width: $bp-marge) {
    //   font-size: .9em;
    // }
  }
  
  tbody {
    // @media (min-width: $bp-bart) {
    //   // Undo display: block 
    //   display: table-row-group; 
    // }
    
    tr {
      margin-bottom: 1em;
      
    //   @media (min-width: $bp-bart) {
    //     // Undo display: block 
    //     display: table-row;
    //     border-width: 1px;
    //   }
      
    //   &:last-of-type {
    //     margin-bottom: 0; 
    //   }
      
      &:nth-of-type(even) {
        background-color: rgba(0,0,0,.12);
      }
    }
    
    td {
        border-left: 1px solid #007acc;
        border-bottom: 1px solid #007acc;
        text-align: center; 
      
      &:last-of-type {
        border-right: 1px solid #007acc;
      }
    }
    
    // td[data-type=website] {
    //   text-align: left; 
    // }
    
    // td[data-title]:before {
    //   content: attr(data-title);
    //   float: left;
    //   font-size: .8em;
    //   color: rgba(0,0,0,.54);
      
    //   @media (min-width: $bp-lisa) {
    //     font-size: .9em; 
    //   }
      
    //   @media (min-width: $bp-bart) {
    //     // Don’t show data-title labels 
    //     content: none; 
    //   }
    // } 
  }
}