.container {
  margin: 1% 5%;
}

.table {
  width: 100%;
  border-spacing: 0;

  thead {
    th {
      background-color: #007acc;
      border: 1px solid #0b9dff;
      font-weight: normal;
      text-align: center;
      color: white
    }
  }

  tfoot {
    padding-top: 1rem;
    font-size: .8em;
    font-style: italic;
  }

  tbody {
    tr {
      margin-bottom: 1em;

      &:nth-of-type(even) {
        background-color: rgba(0, 0, 0, .12);
      }
    }

    td {
      border-left: 1px solid #007acc;
      border-bottom: 1px solid #007acc;
      text-align: center;
      padding: 4px;
      &:last-of-type {
        border-right: 1px solid #007acc;
      }
    }
    margin-bottom: 1rem;
  }

}

.select {
  width: 20rem;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #ffffff;
  display: block;
}

.search {
  width: 20rem;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #ffffff;
  display: block;
  border: 1px solid;
}
.currentpage{
  display: inline;
  width: 4.5rem;

}
.current-label{
  font-size: 1rem;
  margin-right: 4px;
}
.perPage-label{
  margin-left: 2rem;
}
.search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
}

.icon{
  cursor: pointer;
}